a {
  color: #afcdd4;
  text-decoration: none;
}

a:hover {
  color: #658a95;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #40514E;
  line-height: 2;
}

h1 {
  margin-top: 150px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 5.5rem;
  font-weight: lighter;
  /* font-family: 'Dawning of a New Day', cursive;
  font-size: 7rem;
  font-weight: 600; */
  line-height: 1.5;
  color: #658a95;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #8bb4be;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #8bb4be;
  font-size: 1.5rem;
}

hr {
  border-style: dotted;
  border-width: 5px 0 0 0;
  border-color: grey;
  width: 4%;
  margin: 70px auto 70px auto;
}


.bottom-container {
  background-color: #d2e4e8;
  padding-top: 25px;
  padding-bottom: 25px;
}

.brain-icon {
  width: 25%;
  float: right;
  margin: auto auto auto 30px;
}

.briefcase {
  width: 350px;
  margin: 80px auto 30px auto;
}

.btn {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #8bb4be;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #afcdd4;
  text-decoration: none;
}

.copyright {
  font-size: 0.8em;
}

.first-website {
  border: solid;
  border-width: 3px;
  border-color: #afcdd4;
  margin: 0 auto 30px auto;
  width: 1200px;
}

.footerlink {
  color: #8bb4be;
  padding: 0 5px 0 5px;
  text-decoration: none;
}

.footerlink:hover {
  color: #e5f3f7;
}

.girlicon {
  width: 100px;
  position: absolute;
  left: 200px;
  top: 50px;
  border-radius: 50%;
}

.header {
  margin: 0;
  position: relative;
  padding-top: 5px;
  padding-bottom: 70px;
  background-color: #e5f3f7;
}

.hello {
  margin-top: 10px;
}


.left-cloud {
  position: absolute;
  top: 180px;
  left: 120px;
  height: 200px;
}

.middle-container {
  margin-bottom: 70px;
}

.mountain {
  width: 800px;
  position: relative;
  top: 80px;
}

.navbar {
  position: absolute;
  top: 70px;
  right: 200px;
  word-spacing: 50px;
}


.nav:hover {
  color: #8bb4be;
}

.nav:link {
  text-decoration: none;
}

.par1 {
  width: 50%;
  text-align: left;
  margin: 70px auto 30px auto;
  line-height: 2;
}

.par2 {
  width: 50%;
  text-align: right;
  margin: 30px auto 100px auto;
  line-height: 2;
}

.par3 {
  width: 50%;
  text-align: left;
  margin: 30px auto 70px auto;
  line-height: 2;
}

.picture {
  height: 200px;
  border-radius: 50%;
  margin: 70px auto 0 auto;
}

.port-intro {
  width: 75%;
  margin: 20px auto 0 auto;
}

.portfolio {
  position: relative;
  top: 0px;
  letter-spacing: 3px;
  color: #658a95;
}

.portfolio-left-cloud {
  position: absolute;
  right: 100px;
  top: 80px;
  height: 200px;
}

.portfolio-right-cloud {
  position: absolute;
  left: 100px;
  top: 160px;
  height: 200px;
}

.profile {
  width: 50%;
  margin: auto;
}

.program-icon {
  width: 25%;
  float: left;
  margin: auto 30px auto auto;
}

.right-cloud {
  position: absolute;
  top: 110px;
  right: 130px;
  height: 200px;
}

.second-website {
  width: 1206px;
}

.skill-row {
  width: 50%;
  margin: 70px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.subtitle {
  font-family: "Montserrat", sans-serif;
  color: #658a95;
  font-size: 1.2rem;
  margin-top: 0;
}

.third-website {
  width: 1206px;
}

.top-container {
  margin: 0;
  position: relative;
  padding-top: 5px;
  padding-bottom: 70px;
  background-color: #e5f3f7;
}

.uitsmijter {
  margin-bottom: 40px;
}
